<html>
  <head>
  <head>
  <body>
    <form action = "/generate">
      <fieldset>
        <legend>Generate excelfile for Sportnik import</legend>
        N.b! <a href="http://www.sportnik.com">Sportnik</a> import seems to currently work only with Firefox and Safari! <br>
        <select name="team_id">
          <option value="481.5186">Pojkar Mörkröd Svår</option>
          <option value="494.5195">Pojkar Ljusröd Svår</option>
          <option value="19338.5220">Flickor Röd Medel Mellersta</option>
          <option value="455.5221">Flickor Röd Medel Södra</option>
          <option value="442.5222">Flickor Röd Medellätt Norra</option>
          <option value="471.5224">Flickor Röd Lätt Norra</option>
          <option value="484.5331">Pojkar Ljusröd Medel B</option>
          <option value="489.5332">Pojkar Ljusröd Medel C</option>
          <option value="488.5206">Pojkar Ljusröd Medellätt Mellersta</option>
          <option value="490.5238">Pojkar Blå Svår Lätt Norra</option>
          <option value="491.5239">Pojkar Blå Svår Lätt Mellersta</option>
          <option value="492.5240">Pojkar Blå Svår Lätt Södra</option>
          <option value="19339.5242">Pojkar Blå Medel Svår B</option>
          <option value="13559.5246">Pojkar Blå Medel Lätt B</option>
          <option value="13561.5251">Pojkar Blå Lätt Svår B</option>
          <option value="17421.5255">Pojkar Blå Lätt Lätt B Ekerö IK(D)</option>
          <option value="17420.5255">Pojkar Blå Lätt Lätt B Ekerö IK(C)</option>
          <option value="13560.5257">Pojkar Blå Lätt Lätt D Ekerö IK(A)</option>
          <option value="17419.5257">Pojkar Blå Lätt Lätt D Ekerö IK(B)</option>
          <option value="473.5295">Flickor Blå Medel B</option>
          <option value="19337.5191">Pojkar Mörkröd Medel Mellersta</option>
          <option value="17422.5589">Flickor Blå Lätt Lätt C Ekerö IK (A)</option>
          <option value="17423.5589">Flickor Blå Lätt Lätt C Ekerö IK (B)</option>
          <option value="13556.5595">Flickor Blå Medel C</option>
          <option value="472.5736">Flickor Blå Svår Mellersta</option>
        </select>
        <br>
        <input type="submit" value="Generate"></input> 
        <p>
          If generation fails or generated filename does not end in .xls please try again.
        </p>
        <p>
          DISCLAIMER! No warranty whatsoever of correct data! Please check carefully before importing!
        </p>
        <p>
          Tip: Generated excelfile can be modified in Excel if you so wish before importing in Sportnik.
        </p>
      </fieldset>
    </form>
    <form action = "/generate_ics">
      <fieldset>
        <legend>Generate icsfile for calender import</legend>
        <select name="team_id">
          <option value="481.5186">Pojkar Mörkröd Svår</option>
          <option value="494.5195">Pojkar Ljusröd Svår</option>
          <option value="19338.5220">Flickor Röd Medel Mellersta</option>
          <option value="455.5221">Flickor Röd Medel Södra</option>
          <option value="442.5222">Flickor Röd Medellätt Norra</option>
          <option value="471.5224">Flickor Röd Lätt Norra</option>
          <option value="484.5331">Pojkar Ljusröd Medel B</option>
          <option value="489.5332">Pojkar Ljusröd Medel C</option>
          <option value="488.5206">Pojkar Ljusröd Medellätt Mellersta</option>
          <option value="490.5238">Pojkar Blå Svår Lätt Norra</option>
          <option value="491.5239">Pojkar Blå Svår Lätt Mellersta</option>
          <option value="492.5240">Pojkar Blå Svår Lätt Södra</option>
          <option value="19339.5242">Pojkar Blå Medel Svår B</option>
          <option value="13559.5246">Pojkar Blå Medel Lätt B</option>
          <option value="13561.5251">Pojkar Blå Lätt Svår B</option>
          <option value="17421.5255">Pojkar Blå Lätt Lätt B Ekerö IK(D)</option>
          <option value="17420.5255">Pojkar Blå Lätt Lätt B Ekerö IK(C)</option>
          <option value="13560.5257">Pojkar Blå Lätt Lätt D Ekerö IK(A)</option>
          <option value="17419.5257">Pojkar Blå Lätt Lätt D Ekerö IK(B)</option>
          <option value="473.5295">Flickor Blå Medel B</option>
          <option value="19337.5191">Pojkar Mörkröd Medel Mellersta</option>
          <option value="17422.5589">Flickor Blå Lätt Lätt C Ekerö IK (A)</option>
          <option value="17423.5589">Flickor Blå Lätt Lätt C Ekerö IK (B)</option>
          <option value="13556.5595">Flickor Blå Medel C</option>
          <option value="472.5736">Flickor Blå Svår Mellersta</option>
        </select>
        <br>
        <input type="submit" value="Generate ics"></input> 
        <p>
          If generation fails or generated filename does not end in .ics please try again.
        </p>
        <p>
          DISCLAIMER! No warranty whatsoever of correct data! Please check carefully before importing!
        </p>
      </fieldset>
    </form>
  </body>
</html>
