<html>
  <head>
  <head>
  <body>
    <form action = "/generate">
      <fieldset>
        <legend>Get excelfile for Sportnik import</legend>
        N.b! Sportnik import seems to currently work only with Firefox and Safari! 
        <select name="team_id">
          <option value="471">Flickor Röd Lätt Norra</option>
          <option value="472">Flickor Blå Svår Mellersta</option>
          <option value="473">Flickor Blå Medel B</option>
          <option value="488">Pojkar Ljusröd Medellätt Mellersta</option>
          <option value="489">Pojkar Ljusröd Medel C</option>
          <option value="490">Pojkar Blå Svår Lätt Norra</option>
          <option value="494">Pojkar Ljusröd Svår</option>
          <option value="13559">Pojkar Blå Medel Lätt B</option>
          <option value="13560">Pojkar Blå Lätt Lätt D</option>
          <option value="13561">Pojkar Blå Lätt Svår B</option>
          <option value="17419">Pojkar Blå Lätt Lätt D</option>
          <option value="17423">Pojkar Blå Lätt Lätt C</option>
        </select>
        <br>
        <input type="submit" value="Generate"></input> 
      </fieldset>
    </form>
  </body>
</html>
